altgraph==0.17.5
annotated-types==0.8.0
anyio==4.15.1
attrs==26.1.0
click==8.5.0
cloudpickle==3.1.2
dlinfo==2.0.0
espeakng-loader==0.2.4
fastapi==0.115.6
flatbuffers==25.12.19
h11==0.16.0
idna==3.19
joblib==1.6.0
kokoro-onnx==0.6.1
numpy==2.5.3
onnxruntime==1.30.0
packaging==26.3
pefile==2024.8.26
phonemizer==3.4.0
protobuf==7.36.1
pydantic==2.13.5
pydantic_core==2.46.5
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
pywin32-ctypes==0.2.3
setuptools==84.0.0
starlette==0.41.3
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.34.0
